*{
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}
.wrap{ 
  position: relative; 
  height: 40px; 
  overflow: hidden;
}
.wrap .cont{
  position: absolute; 
  top: 0; 
  left: 0;
  /* 宽度 大于容器的两倍即可 */
  width: 150%; 
  -webkit-animation:20s move infinite linear;
}
.wrap .txt{ 
  color: #fff;
  display: inline-block; 
  /* 宽度 等于容器的宽度 */
  height: 30px; 
  line-height: 30px; 
  text-align: center; 
  margin-top: 5px; 
}
.wrap:hover .cont{ 
  -webkit-animation-play-state:paused;
}
@-webkit-keyframes move{
  /* 原理 left值的变化 移动一个容器的宽度 */
  0%{
    left: 0;
  }
  100%{
    left: -105.8%;
  }
}