<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title id="toptitle">区域卫生大数据</title>
    <link rel="stylesheet" href="/static/css/common/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/daping/base.css">
    <link rel="stylesheet" href="/static/css/daping/dyroll.css">
    <script src="/static/js/common/jquery-2.1.4.min.js"></script>
    <script src="/static/js/common/bootstrap.min.js"></script>
    <script src="/static/js/common/echarts.min.js"></script>
    <script src="/static/js/common/loginValidate.js"></script>
    <script src="/static/js/common/jquery.util.js"></script>
    <script src="/static/js/daping/malong.js"></script>
    <style>
        .yiliaobox {
            position: relative;
        }
        .tabUl {
            position: absolute;
            top: 5px; right: 20px; color: #92dffd;
        }
        .tabUl li {
            float: left; cursor: pointer;
            line-height: 30px; height: 32px;
            box-sizing: border-box; padding: 0 10px;
            border: rgba(0,0,0,0) solid 1px;
        }
        .liact {
            position: relative;
            background: #16495c; border-radius: 15px;
            border: #0b709a solid 1px; color: #e9f8fd;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="pageTop">
        <div class="pageTopBtn page-topl">
             <div class="Top-btn">
                <img src="/static/img/tongquan/icon_back.png" alt="">
            </div>
            <div class="Top-btn">
                <img src="/static/img/tongquan/icon_home.png" alt="">
            </div>
            <div class="Top-btn"></div>
            <div class="sanjiaozuo">
                <span></span>
            </div>
        </div>
        <div class="pageTopTit">
            <div style=" width: 100%;" id="areaTile">区域卫生大数据</div>
            <!--<img src="./img" alt="">-->
        </div>
        <div class="pageTopDT page-topr">
            <div class="pageTopTime"></div>
            <div class="pageTopDate"></div>
            <div class="sanjiaoyou">
                <span></span>
            </div>
        </div>
    </div>
    <div class="pageBody chartsBox">
        <div class="row" style="width: 100%;margin: 0">
            <div class="col-md-4 col-xs-4 col-sm-4 chartsBox-l">
                <div class="chartsl-a boxlights boxborder">
                    <div class="chartboxTit">家庭医生年度签约人次</div>
                    <!--<svg t="1564193826266" class="icon" viewBox="0 0 1024 1024"-->
                         <!--version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3083"-->
                         <!--width="200" height="200">-->
                        <!--<path d="M511.3 512.2m-219 0a219 219 0 1 0 438 0 219 219 0 1 0-438 0Z" p-id="3084" data-spm-anchor-id="a313x.7781069.0.i8" class=""></path>-->
                        <!--<path d="M511.3 958.8C265 958.8 64.7 758.5 64.7 512.2 64.7 266 265.1 65.6 511.3 65.6c246.3 0 446.6 200.3 446.6 446.6S757.6 958.8 511.3 958.8z m0-833.9C297.7 124.9 124 298.6 124 512.2c0 213.6 173.8 387.4 387.4 387.4 213.6 0 387.4-173.8 387.4-387.4-0.1-213.6-173.9-387.3-387.5-387.3z" p-id="3085" data-spm-anchor-id="a313x.7781069.0.i9" class=""></path>-->
                    <!--</svg>-->
                    <div id="jiayicharts"></div>
                    <!--<div id="jiayicharts" style="width: 100%;height:250px;"></div>-->
                </div>
                <div class="chartsl-b boxlights boxborder">
                    <div class="chartboxTit">人群类型占比</div>
                    <div id="renquncharts"></div>
                    <!--<div id="renquncharts" style="width: 100%;height:290px;"></div>-->
                </div>
                <div class="chartsl-c boxlights boxborder">
                    <div class="chartboxTit">履约人数</div>
                    <div id="lvyuecharts"></div>
                    <!--<div id="lvyuecharts" style="width: 100%;height:250px;"></div>-->
                </div>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4 chartsBox-c">
                <div class="chartsc-a boxlights row boxborder" style="width: 100%;margin: 0 0 10px">
                    <div class="col-md-3">
                            <div class="chartsc-a-data" id="archiveNum"></div>
                            <div class="chartsc-a-dis">建档人数</div>
                        </div>
                        <div class="col-md-3">
                            <div class="chartsc-a-data" id="signNum"></div>
                            <div class="chartsc-a-dis">年度签约人数</div>
                        </div>
                        <div class="col-md-3">
                            <div class="chartsc-a-data" id="tjNum"></div>
                            <div class="chartsc-a-dis">年度体检人数</div>
                        </div>
                        <div class="col-md-3">
                            <div class="chartsc-a-data" id="nucleinNum"></div>
                            <div class="chartsc-a-dis">新冠人数</div>
                        </div>
                </div>
                <div class="chartsc-b boxlights">
                    <div id="mapcharts"></div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4 chartsBox-r">
                <div class="chartsr-a boxlights boxborder">
                    <div class="chartboxTit">年度就诊人次</div>
                    <div id="jiuzhencharts"></div>
                </div>
                <div class="chartsr-b boxlights boxborder">
                    <div class="chartboxTit">年度入/出院人次</div>
                    <div id="churucharts"></div>
                </div>
                <div class="chartsr-c boxlights boxborder yiliaobox">
                    <div class="chartboxTit">区级医疗机构就诊人次</div>
                    <ul class="tabUl">
                        <li class="tabLi liact" onclick="changeYLView(this, 1);">基层医疗机构</li>
                        <li class="tabLi" onclick="changeYLView(this, 2);">区级医疗机构</li>
                    </ul>
                    <div id="xianqucharts" style="margin-top: 16px"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="pageFoot clearfix">
        <div class="serviceTit fl">服务动态</div>
        <div id="scrollobj" class="serviceCont fl wrap" style="white-space:nowrap;overflow:hidden;"> 
			<div class="cont" id="scrollCont"></div>
		</div>
    </div>
</div>
</body>
<script type="text/javascript">
    let pageTopDate = document.getElementsByClassName('pageTopDate')[0]
    let pageTopTime = document.getElementsByClassName('pageTopTime')[0]
    let timers = window.setInterval(times,1000)
    function times() {
        clearTimeout(timers);//清除定时器
        let date = new Date()
        let years = date.getFullYear()
        let month = date.getMonth() + 1
        let days = date.getDate()
        let hours = date.getHours()
        let minutes = (date.getMinutes() > 9) ? date.getMinutes() : '0' + date.getMinutes()
        let seconds = (date.getSeconds() > 9) ? date.getSeconds() : '0' + date.getSeconds()
        pageTopDate.innerHTML = years + '年' + month + '月' + days +  '日'
        pageTopTime.innerHTML = hours + ':' + minutes + ':' + seconds
        timers = window.setInterval(times,1000)
    }
    function changeYLView(obj, type){
    	obj.parentElement.children[0].classList.remove("liact");
    	obj.parentElement.children[1].classList.remove("liact");
    	obj.classList.add("liact");
    	xianquInit(type);
    }
</script>
<script src="/static/js/daping/malongChartsJs.js"></script>
</html>